/* Site wide */

body {
    font-family: Muli;
    background-color: #222222;
    overflow-y: hidden;
}
h1,
h2,
h3,
p,
ul {
    color: white;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_home {
    position: relative;
    height: 180%;
    width: 100%;
    max-width: 768px;
    /* overflow: hidden; */
    background-color: #000;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto 0 auto;    
}

/* Navigation */

.brand-wrapper {
    /*margin-left: 40px;*/
}
.navbar-burger {
    margin-top: 10px;
}
#rotator {    
    margin-left: -11px;    
}
@media only screen and (min-width: 769px) {
    .navbar.is-primary {
        padding: 10px 0;
        max-width: 768px;
        left: 19.7%;
    }
}
@media only screen and (max-width: 768px) {
    .brand-wrapper {
        padding: 10px;
    }
    .brand-wrapper img {
        /*margin-left: -70%;
        max-height: 7vh;*/
    }
    .brand-wrapper img:nth-child(2) {
        position: absolute;
        margin-top: 10px;
    }
    #rotator {
        /*width: 12%;
        margin-left: -4%;
        margin-top: 2.5%;*/
    }
    #rotator img{
        width: 45px;        
    }
    .navbar-burger {
        margin-top: 15px;
    }
}
/* Site Content */

.video-intro {
    height: 50vh;
    /*background: url(../images/video_placeholder.jpg) no-repeat top center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.feel-box {
    padding: 20px 40px 0;
    max-height: 40vh;
}
.feel-box-o {
    width: 16%;
    position: absolute;
    z-index: 1;
    right: 13%;
    top: 23%;
}
.slogan-first {
    margin: auto;
}
.slogan-first {
    margin-top: -70px;
    font-size: 1.2em;
    line-height: 1.3;
}
.slogan {
    margin-top: -10px;
    font-weight: 800;
    line-height: 1.3;
    color: #c3d52e;
    text-transform: uppercase;
}
@media only screen and (min-width: 769px) {
    .slogan,
    .slogan-first,
    .titulo-componentes,
    .lista-componentes {
        width: 30vw;
    }
    .slogan {
        font-size: 1.3em;
    }
}
@media only screen and (max-width: 768px) {
    .slogan {
        width: 75vw;
        font-size: 1.2em;
    }
    .slogan-first {
        width: 75vw;
        font-size: 1.1em;
    }
    .titulo-componentes,
    .lista-componentes {
        width: 75vw;
    }
}
/* Componentes */

.componentes {
    margin: auto;
    margin-top: -70px;
    padding: 0;
}
.componentes h2 {
    font-size: 2em;
    color: white;
}
@media only screen and (max-width: 768px) {
    .componentes h2 {
        font-size: 1.8em;
    }
}
h2.titulo-componentes {
    font-weight: bold;
}
.resaltar-componente {
    text-transform: uppercase;
    font-size: 1.33em;
}
.lista-componentes {
    margin: auto;
}
.lista-componentes h3 {
    margin-top: -35px;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
}
.lista-componentes ul {
    margin-top: 0;
    list-style-type: none;
}
.lista-componentes ul li {
    margin-left: -30px;
    font-size: 0.9em;
    line-height: 1.4em;
}
/* Site Footer */

#navbarBottom {
    padding: 20px 0;
    background-color: black;
}
.social-links {
    padding: 5px 30px 10px 0px;
}
.social-links a {
    margin-left: 20px;
}
.fa-facebook,
.fa-instagram,
.fa-twitter {
    color: #000;
    font-size: 1.1em;
    line-height: 1.9em;
}
.legal-notice {
    padding: 0 10%;
    font-size: 0.6em;
    color: white;
}
@media (min-width: 1025px) {
    .social-links {
        position: relative;
        left: 30%;
    }
    .legal-notice {
        position: relative;
        left: 90%;
    }
}
@media only screen and (max-width: 768px) {
    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .legal-notice {
        padding-left: 0;
        font-size: 0.5em;
    }
}

.demo-modal {
    background-color: #FFF;    
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    padding: 0px;
    width: 60%;
    position: relative;
    display: none;
    overflow-x: hidden;
    display: none;
    opacity: 1.0;  
}

.contenedor_producto {  
    top: 37vh;
    width: 100%;
    height: 35vh;
    padding-top: 35px;
  /*background: -moz-radial-gradient(center, circle cover, rgba(256,256,256,0.3)0%, #000000 35%);*/ /* FF3.6-15 */
  /*background: -webkit-radial-gradient(center, circle cover, rgba(256,256,256,0.3) 0%,#000000 35%);*/ /* Chrome10-25,Safari5.1-6 */
  /*background: radial-gradient(circle at center, rgba(256,256,256,0.3) 0%,#000000 35%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 );*/ /* IE6-9 fallback on horizontal gradient */
}

.producto {
    width: 100%;
    height: 84%;
    text-align: center;
    background-position: center center;
    background-size: 55vh;
    background-repeat: no-repeat;
    display: none;
}

.marca {
    position: relative;
    width: 16%;
    height: 8vh;
    float: right;
    display: block;
    padding: 0;
    margin: 0 0 0 8%;
    background-color: #000;
}

#div_modals_1 {
    position: absolute;
    z-index: 1;
    left: 20%;
    margin-top: 5%;
    cursor: pointer;
}

#div_modals_2 {
    position: absolute;
    z-index: 1;
    right: 20%;
    margin-top: 5%;
    cursor: pointer;
}

#div_modals_3 {
    position: absolute;
    z-index: 1;
    left: 5%;
    margin-top: 25%;
    cursor: pointer;
}

#div_modals_4 {
    position: absolute;
    z-index: 1;
    right: 5%;
    margin-top: 25%;
    cursor: pointer;
}


.texto {
    /*position: absolute;*/
    top: 15vh;
    width: 100%;
}

.texto h1 {
    position: relative;
    color: #fff;
    font-size: 4.2vh;
    font-weight: 900;
    font-style: normal;
    line-height: 4.8vh;
    width: 88%;
    margin: 0 auto 0 auto;
    padding: 0;
    text-align: left;
    letter-spacing: -0.10vh;
    text-transform: uppercase;
}

.texto h3 {
    position: relative;
    color: #fff;
    font-size: 3.2vh;
    font-weight: 900;
    font-style: normal;
    line-height: 3.8vh;
    width: 88%;
    margin: 0 auto 0 auto;
    padding: 0;
    text-align: left;
    letter-spacing: -0.10vh;
    text-transform: uppercase;
}

.texto p {
    position: relative;
    color: #c3d600;
    font-size: 1.8vh;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 2vh 3vh;
    text-align: left;
}

.text {
    margin-top: 5px;
    margin-bottom: -5px;
}

.text p {
    position: relative;    
    font-size: 1.8vh;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
    width: 40%;    
    text-align: left;    
    border: 1px solid;
    margin-left: 3vh;
    border: 1px solid #c3d600;
}

.texto_blanco {
    color: #fff;
}

.txt_pregunta {
    position: absolute;
    z-index: 1;
    left: 25%;
    margin-top: 6%;
    cursor: pointer;
}

.close {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    cursor: pointer;
    display: block;
    height: 4em;
    line-height: 4em;
    overflow: hidden;
    padding-right: 1.25em;
    position: absolute;
    right: 0;
    text-align: right;
    text-indent: 8em;
    top: 0;
    vertical-align: middle;
    white-space: nowrap;
    width: 4em;
}

.close:before, .close:after {
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 4em;
    position: absolute;
    right: 0;
    top: 0;
    width: 4em;
}

.close:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23ffffff%3B stroke-width: 2%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='20' y2='20' /%3E%3Cline x1='20' y1='0' x2='0' y2='20' /%3E%3C/svg%3E");
}

.close:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %239bf1ff%3B stroke-width: 2%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='20' y2='20' /%3E%3Cline x1='20' y1='0' x2='0' y2='20' /%3E%3C/svg%3E");
    opacity: 1;
}

.close:hover:after, #menu .close:active:after {
    opacity: 1;
}

.close_button {
    cursor: pointer;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.close_button_dosis {
    cursor: pointer;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.close_button_advertencias {
    cursor: pointer;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -110px;
    z-index: 1;
}

.close_button_advertencias {
    cursor: pointer;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.close_button_precauciones {
    cursor: pointer;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
    z-index: 1;
}

.close_button_ind {
    cursor: pointer;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -200px;
}

.menu_container {
    text-align: center;
}

.menu_lines {
    float: left;
    width: 20%;
}

.menu_logo {
    display: inline;
    width: 60%;
    margin-top: 3%;
}

.menu_logo_marca {
    float: left;
    width: 20%;
}

.menu_logo_div_left {
    width: 65%;
    float: left;
}

.menu_logo_div_right {
    width: 20%;
    float: left;
    margin-top: 3.5%;
}

.text_on_sprite {
    position: absolute;
    z-index: 1;
}

.text_on_sprite h1 {    
    color: #fff;
    font-size: 3.2vh;
    font-weight: 900;
    font-style: normal;
    line-height: 3.8vh;
    width: 70%;    
    padding: 0;
    text-align: left;
    letter-spacing: -0.10vh;
    text-transform: uppercase;
    margin-left: 10%;
    margin-top: 10%;
}

.li_carousel {
    margin-left:-80px;
    padding: 50px;
    cursor: pointer;
}

.img_selection {
    width: 75px;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #FFF;
}

#video_slider { 
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.container_intro_portrait {
    display: none;
}

.t_top {
    margin-top: 10px;
}

.h1_black {
    color: #000 !important;
}

.t_slogan {
    color: #FFF !important;
    position: relative;
    margin-top: -20px;
    font-size: 2.5vh !important;
}

.hero-body {
    position: relative;
}

.seccion-slider {
    margin-top: 5%;
    margin-bottom: 10%;
}

.s_cajita {
    position: relative;
}

.s_componentes {
    margin-top: -15%;
}

.t_s_componentes {
    margin-top: -20%;
}

.t_white {
    color: #FFF !important;
}

.animacion-liberar-odio{
    margin-top: -5%;
}

.animacion-dude-gritando {
    margin-top: 4%;
    margin-bottom: 10%;
}

.imagesequence {
    position: relative;
}

video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

.div_row {
    width: 100%;
    height: 100px;
}

    
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    background: url(../assets/animation/spinner.gif) center no-repeat #fff;
}


.social_widgets {
    position: relative;
    float: left;
    width: 60%;
    display: inline-flex;
    padding: 0;
    margin: 1.5vh 0 0 0;
}

.social_widgets .fa-stack {
    height: 6vh;
}

.social_widgets li {
    position: relative;
    width: 50%;
    float: left;
    display: block;
    padding: 0 15% 0 40%;
    margin: 0;
    text-align: center;
    margin-top: -63px;
}

.dosis{
    position: absolute;
    margin-top: -45%;
}

.advertencias{
    position: absolute;
    margin-top: -45%;
    margin-left: -30%;
}

.indicaciones{
    position: absolute;
    margin-top: -45%;
    margin-left: -25%;
}

.precauciones{
    position: absolute;
    margin-top: -45%;
    margin-left: -35%;
}

#modal_dosis{
    background: url(../assets/images/back_dosis.jpg) center no-repeat #000;
    background-size: contain;
}

#modal_advertencias{
    background: url(../assets/images/back_advertencias.jpg) center no-repeat #000;
    background-size: contain;
}

#modal_indicaciones{
    background: url(../assets/images/back_dosis.jpg) center no-repeat #000;
    /*background-size: contain;*/
}

#modal_precauciones{
    background: url(../assets/images/back_advertencias.jpg) center no-repeat #000;
    background-size: contain;
}

.modal_texto p {
    position: relative;
    color: #c3d600;
    font-size: 3.0vh;
    font-weight: bold;
    font-style: normal;
    line-height: 1.2em;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 1vh 3vh;
    text-align: left;
}

@media (max-width: 767px) {
    .work--lockup .slider {
        width: 78%;
    }
}

.work--lockup .slider {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 2em 0px;
    list-style: none;
}

@media (max-width: 600px) {
    .work--lockup .slider--item-left, .work--lockup .slider--item-right {
        display: none;
    }
}

.work--lockup .slider--item-left {
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
}

.work--lockup .slider--item {
    position: absolute;
    display: none;
    text-align: center;
}

.work--lockup .slider--item a {
    text-decoration: none;
    color: #858585;
}

a {
    background-color: transparent;
}

@media (max-width: 767px) {
    .work--lockup .slider--item-image {
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 900px) {

    .work--lockup .slider--item-image {
        width: 120px;
        height: 120px;
    }

}

.work--lockup .slider--item-image {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
}

/* added #slider li to make panels the same size in case "resizeContents" is false */
 ul#slider, ul#slider li {
    width: 300px;
    height: 600px;
    list-style: none;
}

.swiper-container {
    width: 375px;
    height: 500px;   
}