/* Site wide */

h1,
h2,
h3,
p,
ul {
    color: white;
}

.demo-modal {
    background-color: #FFF;    
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    padding: 0px;
    width: 60%;
    position: relative;
    display: none;
    overflow-x: hidden;
    display: none;
    opacity: 1.0;  
}

.contenedor_producto {  
    top: 37vh;
    width: 100%;
    height: 35vh;
    padding-top: 35px;
  /*background: -moz-radial-gradient(center, circle cover, rgba(256,256,256,0.3)0%, #000000 35%);*/ /* FF3.6-15 */
  /*background: -webkit-radial-gradient(center, circle cover, rgba(256,256,256,0.3) 0%,#000000 35%);*/ /* Chrome10-25,Safari5.1-6 */
  /*background: radial-gradient(circle at center, rgba(256,256,256,0.3) 0%,#000000 35%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 );*/ /* IE6-9 fallback on horizontal gradient */
}

.producto {
    width: 100%;
    height: 84%;
    text-align: center;
    background-position: center center;
    background-size: 55vh;
    background-repeat: no-repeat;
    display: none;
}

.marca {
    position: relative;
    width: 16%;
    height: 8vh;
    float: right;
    display: block;
    padding: 0;
    margin: 0 0 0 8%;
    background-color: #000;
}

#div_modals_1 {
    position: absolute;
    z-index: 1;
    left: 20%;
    margin-top: 5%;
    cursor: pointer;
}

#div_modals_2 {
    position: absolute;
    z-index: 1;
    right: 20%;
    margin-top: 5%;
    cursor: pointer;
}

#div_modals_3 {
    position: absolute;
    z-index: 1;
    left: 5%;
    margin-top: 25%;
    cursor: pointer;
}

#div_modals_4 {
    position: absolute;
    z-index: 1;
    right: 5%;
    margin-top: 25%;
    cursor: pointer;
}


.close {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    cursor: pointer;
    display: block;
    height: 4em;
    line-height: 4em;
    overflow: hidden;
    padding-right: 1.25em;
    position: absolute;
    right: 0;
    text-align: right;
    text-indent: 8em;
    top: 0;
    vertical-align: middle;
    white-space: nowrap;
    width: 4em;
}

.close:before, .close:after {
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 4em;
    position: absolute;
    right: 0;
    top: 0;
    width: 4em;
}

.close:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23ffffff%3B stroke-width: 2%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='20' y2='20' /%3E%3Cline x1='20' y1='0' x2='0' y2='20' /%3E%3C/svg%3E");
}

.close:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %239bf1ff%3B stroke-width: 2%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='20' y2='20' /%3E%3Cline x1='20' y1='0' x2='0' y2='20' /%3E%3C/svg%3E");
    opacity: 1;
}

.close:hover:after, #menu .close:active:after {
    opacity: 1;
}

.close_button {
    cursor: pointer;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 70px;
    z-index: 1;    
}

.close_button_dosis {
    cursor: pointer;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.close_button_advertencias {
    cursor: pointer;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -110px;
    z-index: 1;
}

.close_button_advertencias {
    cursor: pointer;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.close_button_precauciones {
    cursor: pointer;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
    z-index: 1;
}

.close_button_ind {
    cursor: pointer;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -200px;
}

.t_top {
    margin-top: 10px;
}

.t_slogan {
    color: #FFF !important;
    position: relative;
    margin-top: -20px;
    font-size: 2.5vh !important;
	font-weight: normal;
}

.dosis{
    position: absolute;
    margin-top: -45%;
}

.advertencias{
    position: absolute;
    margin-top: -45%;
    margin-left: -30%;
}

.indicaciones{
    position: absolute;
    margin-top: -45%;
    margin-left: -25%;
}

.precauciones{
    position: absolute;
    margin-top: -45%;
    margin-left: -35%;
}

#modal_dosis{
    background: url(../assets/images/back_dosis.jpg) center -10vh no-repeat #000;
    max-width: 768px;
    margin: 0 auto;
    background-size: cover;
}

#modal_advertencias{
    background: url(../assets/images/back_advertencias.jpg) center no-repeat #000;
    max-width: 768px;
    margin: 0 auto;
    background-size: cover;
}

#modal_indicaciones {
    background: url(../assets/images/back_dosis.jpg) center -10vh no-repeat #000;
    max-width: 768px;
    margin: 0 auto;
    background-size: cover;
}

#modal_precauciones{
    background: url(../assets/images/back_advertencias.jpg) center no-repeat #000;
    max-width: 768px;
    margin: 0 auto;
    background-size: cover;
}

.modal_texto p {
    position: relative;
    color: #c3d600;
    font-size: 3.0vh;
    font-weight: normal;
    font-style: normal;
    line-height: 1.4em;
    width: 70%;
    margin: 0 auto 0 auto;
    padding: 1vh 3vh;
    text-align: left;
}

@media (max-width: 767px) {
    .work--lockup .slider {
        width: 78%;
    }
}

.work--lockup .slider {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 2em 0px;
    list-style: none;
}

@media (max-width: 600px) {
    .work--lockup .slider--item-left, .work--lockup .slider--item-right {
        display: none;
    }
}

.work--lockup .slider--item-left {
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
}

.work--lockup .slider--item {
    position: absolute;
    display: none;
    text-align: center;
}

.work--lockup .slider--item a {
    text-decoration: none;
    color: #858585;
}

a {
    background-color: transparent;
}

@media (max-width: 767px) {
    .work--lockup .slider--item-image {
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 900px) {

    .work--lockup .slider--item-image {
        width: 120px;
        height: 120px;
    }

}

.work--lockup .slider--item-image {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
}

/* added #slider li to make panels the same size in case "resizeContents" is false */
 ul#slider, ul#slider li {
    width: 300px;
    height: 600px;
    list-style: none;
}