@charset "UTF-8";

html, body {  margin: 0;  padding: 0; height: 100%; width: 100%;  font-family: 'Muli', sans-serif; background-color:#222222; }

a:link{
  cursor: pointer;
}
figure {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
}
.container_intro_portrait {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 768px;
  overflow: hidden;
  background-color: #FFF;
  background-image: url('http://feel360.mx/css/spacer.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  display: none;
  margin: 0 auto;
}
.container_home {
  position: relative;  
  width: 100%;
  max-width: 768px;  
  display: block;
  margin: 0 auto;
  background-color: #000;
}
.container_formula {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 768px;
  overflow: hidden;
  background-color: #000;
    background-position: top right;
    background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin: 0 auto;
}
.container_indicaciones {
  position: relative;
  height: 180%;
  width: 100%;
  max-width: 768px;
  /*overflow: hidden;*/
  background-color: #000;
    background-position: top right;
    background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin: 0 auto 0 auto;
}

/* HEADER */
.header {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 11vh;
    padding: 0;
    margin: 0;
    display: none;
    z-index: 1;
}
.contenedor_header{
  width: 100%;
    height: 11vh;
    max-width: 768px;
    margin: 0 auto;
    background-color: #000;
    padding: 0;
}
.header li {
  position: absolute;
    height: auto;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5vh;
    margin: 4.8vh 0;
    padding: 0;
    text-align: center;
}
.header li a{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.header li a:hover{
  color: #c3d600;
}
.header .logo {
    width: 38%;
    max-width: 230px;
    padding: 0;
    margin: 0 1%;
    cursor: pointer;
    height: auto;
}
.header .logo img {
  display: block;
}
.header .btn_menu_formula{
  position: relative;
  float: right;
  width: 10%;
}
.header .btn_menu_indicaciones {
  position: relative;
  float: right;
  width: 20%;
}

.texto {  
    top: 15vh;
    width: 100%;
}
.texto_blanco {
  color: #fff;
}
.texto_verde {
  color: #c3d600 !important;
}

/* BODY COPY HOME */ 
.container_home .texto h1 {
  position: relative;
    color: #fff;
    font-size: 3.2vh;
    font-weight: 900;
    font-style: normal;
    line-height: 3.8vh;
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 0;
    text-align: left;
    letter-spacing: -0.10vh;
    text-transform: uppercase;
}
.container_home .texto p {
  position: relative;
    color: #c3d600;
    font-size: 1.8vh;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 2vh 3vh;
    text-align: left;
}
.container_home .contenedor_producto {  
    top: 37vh;
    width: 100%;
    height: 40vh;
  /*background: -moz-radial-gradient(center, circle cover, rgba(256,256,256,0.3)0%, #000000 35%);*/ /* FF3.6-15 */
  /*background: -webkit-radial-gradient(center, circle cover, rgba(256,256,256,0.3) 0%,#000000 35%);*/ /* Chrome10-25,Safari5.1-6 */
  /*background: radial-gradient(circle at center, rgba(256,256,256,0.3) 0%,#000000 35%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 );*/ /* IE6-9 fallback on horizontal gradient */
}
.container_home .producto {
    width: 70%;
    height: 100%;
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
    margin: 0 auto;
}
.container_home .texto h3 {
  position: relative;
    color: #c3d600;
    font-size: 1.7vh;
    font-weight: 900;
    font-style: normal;
    line-height: 3.8vh;
    width: 65%;
    margin: 0 auto 0 auto;
    padding: 0;
    text-align: left;
    letter-spacing: 0vh;
    text-transform: uppercase;
}
.texto_blanco {
  color: #fff;
}

/* BODY COPY FORMULA */ 
.container_formula .texto ul {
  position: relative;
    color: #fff;
    font-size: 1.7vh;
    font-weight: normal;
    font-style: normal;
    line-height: 1.4em;
    width: 36vh;
    margin: 0 auto 0 auto;
    padding: 0;
    text-align: left;
    list-style: none;
    letter-spacing: 0.16vh;
}
.container_formula .producto {
  position: absolute;
    top: 30vh;
    width: 100%;
    height: 40%;
    text-align: center;
    background-position: center center;
    background-size: 80%;
    background-repeat: no-repeat;
    display: none;
}
.container_formula h1 {
  position: absolute;
    top: 70vh;
    left: 0;
    color: #fff;
    font-size: 2.5vh;
    font-weight: 900;
    font-style: normal;
    line-height: 1em;
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    text-transform: uppercase;
}

/* BODY COPY INDICACIONES */ 
.container_indicaciones h1 {
  position: relative;
    color: #FFF;
    font-size: 2.8vh;
    font-weight: 900;
    font-style: normal;
    line-height: 1em;
    width: 65%;
    margin: 0 auto 0 auto;
  padding: 1vh 0;
    text-align: left;
    text-transform: uppercase;
}
.container_indicaciones h2 {
  position: relative;
    color: #FFF;
    font-size: 1.9vh;
    font-weight: 900;
    font-style: normal;
    line-height: 1em;
    width: 65%;
    margin: 0 auto 0 auto;
  padding: 0.8vh 0 0 0;
    text-align: left;
    text-transform: uppercase;
}
.container_indicaciones h4 {
  position: relative;
    color: #FFF;
    font-size: 2.3vh;
    font-weight: 600;
    font-style: normal;
    line-height: 1em;
    width: 65%;
    margin: 3vh auto 0 auto;
  padding: 0;
    text-align: left;
    text-transform: uppercase;
}
.container_indicaciones .texto h5 {
  position: relative;
    color: #FFF;
    font-size: 2.3vh;
    font-weight: normal;
    font-style: normal;
    line-height: 1.3em;
    width: 65%;
    margin: 0 auto 0 auto;
    padding: 0 0 0.8vh 0;
    text-align: left;
}
.container_indicaciones .texto p {
  position: relative;
    color: #FFF;
    font-size: 1.8vh;
    font-weight: normal;
    font-style: normal;
    line-height: 1.3em;
    width: 65%;
    margin: 0 auto 0 auto;
  padding: 0;
    text-align: left;
}
  
/* FOOTER */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    padding: 0;
    margin: 0;
    display: none;
    z-index: 1;
}
.contenedor_footer{
  width: 100%;
    height: 10vh;
    max-width: 768px;
    margin: 0 auto;
}
.footer .social_widgets{
  position: relative;
    float: left;
    width: 15%;
    /*display: block;*/
    padding: 0;
    margin: 12.5vh 0 0 20px;
}
.social_widgets li{
  position: relative;
    width: 50%;
    float: left;
    display: block;
    padding: 0 5% 0 40%;
    margin: 0;
    text-align: center;
}
.social_widgets .fa-stack-2x{
    color: #fff;
  font-size: 5.2vh;
}
.social_widgets .fa-inverse {
    color: #000000;
    font-size: 2.9vh;
    line-height: 1.8em;
}
.social_widgets .fa-stack{
  height: 6vh;
}

.footer .legal{
  position: relative;
    width: 60%;
    height: 100%;
    float: right;
    display: block;
    padding: 0;
    margin: 10vh 0 0 7vh;
    background-color: #000;
}
.footer p{
  position: absolute;
    bottom: 1vh;
    font-weight: 300;
    font-size: 1.2vh;
    line-height: 133%;
    letter-spacing: 0em;
    color: #FFF;
    padding: 2% 0;
    margin: 0;
}
.footer .marca{
  position: relative;
    width: 10%;
    height: 10vh;
    float: right;
    display: block;
    padding: 0;
    margin: 10vh 0 0 0;
  background-color: #000;
}
.footer img{
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  padding: 0;
  margin: 0;
}
.feel-box {
    padding: 20px 15%;
    width: 70%;
    margin: 0 auto;
    position: relative;
}
.feel-box-o {
    width: 17.5%;
    position: absolute;
    z-index: 1;
    right: 8.5%;
    top: 35%;
}

.text p {
    position: relative;
    font-size: 1.8vh;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
    width: 26%;
    text-align: left;
    margin-left: 10%;
    border: 1px solid #c3d600;
    color: #FFF;
}

.container_first_video{
  width: 100%;
  text-align: center;
	padding-top: 23vh;
}

.text_on_sprite {
    position: absolute;
    z-index: 1;
}

.text_on_sprite h1 {
    color: #fff;
    font-size: 3.2vh;
    font-weight: 900;
    font-style: normal;
    line-height: 3.8vh;
    width: 100%;
    padding: 0;
    text-align: left;
    letter-spacing: -0.10vh;
    text-transform: uppercase;
    margin-left: 60%;
    margin-top: 10%;
}

#imagesequencemsm {
  position: relative;
  text-align: center;  
}

#imagesequence{
  text-align: center;
}

#div_modals_1 {
    position: absolute;
    z-index: 1;
    left: 20%;
    margin-top: 5%;
    cursor: pointer;
}

#div_modals_2 {
    position: absolute;
    z-index: 1;
    right: 20%;
    margin-top: 5%;
    cursor: pointer;
}

#div_modals_3 {
    position: absolute;
    z-index: 1;
    left: 5%;
    margin-top: 25%;
    cursor: pointer;
}

#div_modals_4 {
    position: absolute;
    z-index: 1;
    right: 5%;
    margin-top: 25%;
    cursor: pointer;
}

.section, .subsection {
    position: relative;
    z-index: 0 !important;
}

.animacion-liberar-odio {
    position: relative;
    z-index: 0 !important;
	display: none;
}

.seccion-slider {
  position: relative;
  z-index: 0 !important;
	padding-top: 20vh;
}

.animacion-dude-gritando{
  position: relative;
  z-index: 0 !important;
	padding-top: 20vh;
}

.slider-carousel{
  text-align: center;
}

.swiper-slide{
  width: 430px !important;
  padding-right: 0px;
}

.demo-modal {
    background-color: #FFF;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    padding: 0px;
    width: 60%;
    position: relative;
    overflow-x: hidden;
    display: none;
    opacity: 1.0;
}

.social_widgets {
    position: relative;
    float: left;
    width: 60%;
    display: inline-flex;
    padding: 0;
    margin: 1.5vh 0 0 0;
}
.img_selection {
    width: 75px;
}