@import "node_modules/bulma/sass/utilities/initial-variables"

// Customization
$grey-darker: hsl(204,100%,14%)
$primary: hsl(0, 0%, 0%)

@import "node_modules/bulma/bulma"

// Navigation
.navbar-burger 
    margin-left: 0

// Footer
.footer
    background: $primary
    color: $white